.container {
  display: flex;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  overflow-x: hidden;

  a {
    color: inherit;
    font-weight: unset;
  }

  img {
    background-color: aliceblue;
    object-fit: cover;
    height: 100% !important;
  }

  h2 {
    margin: 0;
    font-size: large;
  }

  &>*:last-child {
    flex: 1;
    padding: 1rem;
    display: grid;
    gap: 4px;
  }

  .features {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    & > * {
      display: flex;
      align-items: center;
      gap: 6px;
      background-color: #d7fff2;
      padding: 0.5rem;
      border-radius: 15px;
    }
  }

  .price {
    display: flex;
    gap: 0.5ch;
    align-items: baseline;
    margin: 1ch 0;
    font-size: large;
    font-weight: bold;
    color: green;
  }
}
