.flightOffers {
  border-radius: 15px;
  padding: 1rem;
  color: #213547;
  background-color: white;
  box-shadow: 0 1px 5px 2px #00000010;

  h2 {
    margin: 0;
    margin-bottom: 8px;
  }

  form {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;

    & > * {
        flex: 1 0 120px;
    }
  }
}
